$bg-color-navbar: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
$bg-color:#D0E0D3;
$bg-color2: #75B9A0;
$font-color: #226651;
@mixin sections-Attributes($Color) {
    padding-top: 50px;
    padding-bottom: 50px;
    background: $Color;
}
@mixin h1-Attributes($color) {
    text-transform: uppercase;
    font-weight: 900;
    color: $color;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
@mixin p-attributes($color) {
    font-size: 16px;
    font-weight: 900;
    color: $color;    
}
@mixin button-color1 {
    background-color:#75B9A0;
    border-color: #43E97B;
    color: WHITE;
    box-shadow: 7px 7px 10px#226651;
    
}
@mixin button-color2 {
    background-color: #43e97b;
    border-color:#75B9A0;
    color: WHITE;
    box-shadow: 7px 7px 10px #226651;
    
}
@mixin button-attributes {
    max-width: 20%;
    border-radius: 50px !important;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
    margin-right: 50px;
    
}

body {
    display: block;
    overflow-x: hidden;
 
}
button:hover, button:active, button:focus{
    background-color: #226651 !important;
}
/* Nav Bar*/
nav {
    background: $bg-color-navbar;
    
}
.navbar-brand img{
    max-height: 30px;
    vertical-align: top;
    
}
.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: $font-color;
   
}
nav ul li a {
    color: $font-color;
    font-size: 22px;
    margin: auto 10px;
    font-weight: 600;
}
nav ul li a:hover {
    color:white;
}
/*end Nav Bar*/

/*introduction*/
#intro {
   @include sections-Attributes($bg-color);
   

}

#h1-intro {
    @include h1-Attributes($font-color);
    margin-top: 0px;
    margin-bottom: 0px
}
#text-intro {
    @include p-attributes($font-color);
    margin-top: 10px;
}
.intro-button1 {
    @include button-attributes;
    @include button-color1;
}
.intro-button2 {
    @include button-attributes;
    @include button-color2;
}
#intro .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}
#intro .img-col {
    justify-content: flex-end;
    margin-top: 100px;
}
#intro img {
    max-width: 100% !important;
}
/*introduction end*/

/*About me*/

#about-me{
    @include sections-Attributes($bg-color2);
}
#about-H1{
    @include h1-Attributes($font-color);
}
#about-text {
    @include p-attributes($font-color);
}
.about-button {
    @include button-attributes;
    @include button-color2;
}
.image-container {
  
   display: flex;
}
.all-incons {
    display: flex;
    flex-flow:row wrap;
}
.incon {
    height: 80px;
    margin-right: 60px;
  
}
/*About me end*/

/*projects*/
.carousel-indicators button {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    background-color: #43e97b !important;
    
}
.carousel-size{
    max-width: 100%;
}


#projects{
    @include sections-Attributes($bg-color);
    box-sizing: content-box;
}
.projects {
    margin-bottom: 50px;
  }
.project-h1{
    @include h1-Attributes($font-color);
}
.project-txt {
    @include p-attributes($font-color);
}
.project-button{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.color-button1{
    @include button-attributes;
    @include button-color1;
}
.color-button2{
   @include button-attributes;
   @include button-color2;
}
/*Projects end*/

/*contact*/
#contact {
    @include sections-Attributes($bg-color2)
}
/*contact end*/

@media (max-width: 1399.98px) {
    .color-button1, .color-button2 {
        max-width: 30%;
        margin-bottom: 30px;
    }

}

@media (max-width: 1199.98px) {
    .align-items-center {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 991.98px) {
    .intro-button1{
        max-width: 30%;
    }
    .intro-button2 {
        max-width: 30%;
    }
    .align-items-center {
        display: flex;
        flex-direction: column;
    }

};
@media (max-width: 767.98px) {
    .container{
        max-width: 100%;
    };
   .d-grid {
       display: inline !important;
   }
   .align-items-center {
       display: flex;
       flex-direction: column;
   }
  
}
@media (max-width: 689.98px){
    /* Intro*/
    .row {
        display: inline;
    }
    #intro .col {
        align-items: initial;
    }
    
    .img-col{
        margin-top: 5% !important;
    }
    /* Intro end*/
    .incon {
        height: 56px;
        margin-right: 7px;
    }
    .about-button {
        max-width: 30%;
    }
    .project-button {
        flex-direction: column;
        align-items: center;
    }
    .color-button1, .color-button2 {
        max-width: 40%;
        margin-right: none;
        margin-bottom: 30px;
    }

}



